<main class="contact-wrapper">
  <div class="contact-line"></div>
  <h2 class="contact-heading">{{ "contact.title" | translate }}</h2>
  <div class="contact-container max-width" data-aos="zoom-in-up">
    <section class="contact-info">
      <h3 class="contact-subheading">{{ "contact.subtitle" | translate }}</h3>
      <span class="contact-description">{{ "contact.description" | translate }}</span>
      <p class="contact-highlight">
        {{ "contact.needDeveloper" | translate }}
        <b>{{ "contact.contactMe" | translate }}</b>
      </p>
    </section>
    <section class="contact-form-wrapper">
      <form
        class="contact-form"
        (ngSubmit)="onSubmit(contactForm)"
        #contactForm="ngForm"
      >
        <div class="contact-input-row">
          <input
            type="text"
            name="name"
            [(ngModel)]="contactData.name"
            placeholder="{{ 'contact.form.placeholders.name' | translate }}"
            required
            minlength="2"
            #name="ngModel"
            [ngClass]="{
              'contact-input--error': name.invalid && (name.dirty || name.touched)
            }"
            autocomplete="given-name"
            pattern="[a-zA-Z0-9äöüÄÖÜß ,.!?@-]+"
          />
          <img
            class="contact-validation-icon"
            *ngIf="name.valid"
            src="assets/icons/form_validation/correct.png"
            alt="Valid"
          />
          <img
            class="contact-validation-icon"
            *ngIf="name.invalid && (name.dirty || name.touched)"
            src="assets/icons/form_validation/wrong.png"
            alt="Invalid"
          />
        </div>
        <div
          class="contact-alert"
          [class.visible]="name.invalid && (name.dirty || name.touched)"
        >
          <div *ngIf="name.errors?.['required']">
            {{ "contact.form.validation.nameRequired" | translate }}
          </div>
          <div *ngIf="name.errors?.['minlength']">
            {{ "contact.form.validation.nameMinLength" | translate }}
          </div>
        </div>
        <div class="contact-input-row">
          <input
            type="email"
            name="email"
            [(ngModel)]="contactData.email"
            placeholder="{{ 'contact.form.placeholders.email' | translate }}"
            required
            #email="ngModel"
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            [ngClass]="{
              'contact-input--error': email.invalid && (email.dirty || email.touched)
            }"
            autocomplete="on"
          />
          <img
            class="contact-validation-icon"
            *ngIf="email.valid"
            src="assets/icons/form_validation/correct.png"
            alt="Valid"
          />
          <img
            class="contact-validation-icon"
            *ngIf="email.invalid && (email.dirty || email.touched)"
            src="assets/icons/form_validation/wrong.png"
            alt="Invalid"
          />
        </div>
        <div
          class="contact-alert"
          [class.visible]="email.invalid && (email.dirty || email.touched)"
        >
          <div *ngIf="email.errors?.['required']">
            {{ "contact.form.validation.emailRequired" | translate }}
          </div>
          <div *ngIf="email.errors?.['pattern']">
            {{ "contact.form.validation.emailPattern" | translate }} <br />
          </div>
        </div>
        <div class="contact-input-row">
          <textarea
            name="message"
            [(ngModel)]="contactData.message"
            placeholder="{{ 'contact.form.placeholders.message' | translate }}"
            required
            #message="ngModel"
            [ngClass]="{
              'contact-input--error': message.invalid && (message.dirty || message.touched)
            }"
          ></textarea>
          <img
            class="contact-validation-icon"
            *ngIf="message.valid"
            src="assets/icons/form_validation/correct.png"
            alt="Valid"
          />
          <img
            class="contact-validation-icon"
            *ngIf="message.invalid && (message.dirty || message.touched)"
            src="assets/icons/form_validation/wrong.png"
            alt="Invalid"
          />
        </div>
        <div
          class="contact-alert"
          [class.visible]="message.invalid && (message.dirty || message.touched)"
        >
          <div *ngIf="message.errors?.['required']">
            {{ "contact.form.validation.messageRequired" | translate }}
          </div>
        </div>
        <div class="contact-privacy-row">
          <div class="contact-checkbox">
            <input
              id="contact-privacy"
              type="checkbox"
              name="privacy"
              ngModel
              required
              #checkbox="ngModel"
            />
            <label for="contact-privacy"></label>
          </div>
          <span class="contact-privacy-text">
            {{ "contact.form.checkboxBeforLinkText" | translate }}
            <a [routerLink]="['/legal-notice']" class="contact-privacy-link">
              {{ "contact.form.privacyPolice" | translate }}
            </a>
            {{ "contact.form.checkboxAfterLinkText" | translate }}
          </span>
        </div>
        <div
          class="contact-alert"
          [class.visible]="checkbox.invalid && (checkbox.dirty || checkbox.touched)"
        >
          <div *ngIf="checkbox?.errors?.['required']">
            {{ "contact.form.validation.privacyRequired" | translate }}
          </div>
        </div>
        <button type="submit" class="contact-submit" [disabled]="!contactForm.valid">
          {{ "contact.form.button" | translate }}
        </button>

        <span class="contact-success" [ngClass]="{ show: mailSent }">
          {{ "contact.succesMsg" | translate }}!
        </span>
      </form>

      <button class="contact-scrollup" (click)="scroll()">
        <img
          src="assets/icons/navigation/up.png"
          alt="{{ 'contact.scrollButtonAlt' | translate }}"
        />
      </button>
    </section>
  </div>
</main>
<div class="contact-decoration" data-aos="fade" data-aos-delay="100">
  <img
    src="assets/img/background-objects/33. Purple shadow Footer.svg"
    alt="Footer Dekoration"
  />
</div>