<main>
  <div class="skills-wrapper">
    <section class="skills-grid" id="skills-anchor">
      <div class="skill-item">
        <img
          class="skill-image"
          src="assets/icons/front_end_stack/HTML.png"
          alt="Symbol für HTML"
          data-aos="fade-up"
          data-aos-delay="0"
          id="skill-image-0"
        />
        <p class="skill-label" data-aos="fade-in" data-aos-delay="250">HTML</p>
      </div>
      <div class="skill-item">
        <img
          class="skill-image"
          src="assets/icons/front_end_stack/CSS.png"
          alt="Symbol für CSS"
          data-aos="fade-up"
          data-aos-delay="100"
          id="skill-image-1"
        />
        <p class="skill-label" data-aos="fade-in" data-aos-delay="350">CSS</p>
      </div>
      <div class="skill-item">
        <img
          class="skill-image"
          src="assets/icons/front_end_stack/JavaScript.png"
          alt="Symbol für JavaScript"
          data-aos="fade-up"
          data-aos-delay="200"
          id="skill-image-2"
        />
        <p class="skill-label" data-aos="fade-in" data-aos-delay="450">
          JavaScript
        </p>
      </div>
      <div class="skill-item">
        <img
          class="skill-image"
          src="assets/icons/front_end_stack/TypeScript.png"
          alt="Symbol für TypeScript"
          data-aos="fade-up"
          data-aos-delay="300"
          id="skill-image-3"
        />
        <p class="skill-label" data-aos="fade-in" data-aos-delay="550">
          TypeScript
        </p>
      </div>
      <div class="skill-item">
        <img
          class="skill-image"
          src="assets/icons/front_end_stack/Angular.png"
          alt="Symbol für Angular"
          data-aos="fade-up"
          data-aos-delay="400"
          id="skill-image-4"
        />
        <p class="skill-label" data-aos="fade-in" data-aos-delay="650">
          Angular
        </p>
      </div>
      <div class="skill-item">
        <img
          class="skill-image"
          src="assets/icons/front_end_stack/Firebase.png"
          alt="Symbol für Firebase"
          data-aos="fade-up"
          data-aos-delay="500"
          id="skill-image-5"
        />
        <p class="skill-label" data-aos="fade-in" data-aos-delay="750">
          Firebase
        </p>
      </div>
      <div class="skill-item">
        <img
          class="skill-image"
          src="assets/icons/front_end_stack/Git.png"
          alt="Symbol für Git"
          data-aos="fade-up"
          data-aos-delay="600"
          id="skill-image-6"
        />
        <p class="skill-label" data-aos="fade-in" data-aos-delay="850">Git</p>
      </div>
      <div class="skill-item">
        <img
          class="skill-image"
          src="assets/icons/front_end_stack/Rest Api.png"
          alt="Symbol für Rest Api"
          data-aos="fade-up"
          data-aos-delay="700"
          id="skill-image-7"
        />
        <p class="skill-label" data-aos="fade-in" data-aos-delay="950">
          Rest Api
        </p>
      </div>
      <div class="skill-item">
        <img
          class="skill-image"
          src="assets/icons/front_end_stack/Scrum.png"
          alt="Symbol für Scrum"
          data-aos="fade-up"
          data-aos-delay="800"
          id="skill-image-8"
        />
        <p class="skill-label" data-aos="fade-in" data-aos-delay="1050">
          Scrum
        </p>
      </div>
      <div class="skill-item">
        <img
          class="skill-image"
          src="assets/icons/front_end_stack/Material Design.png"
          alt="Symbol für Material Design"
          data-aos="fade-up"
          data-aos-delay="900"
          id="skill-image-9"
        />
        <p class="skill-label" data-aos="fade-in" data-aos-delay="1150">
          Material Design
        </p>
      </div>
      <div
        class="skills-learning-wrapper"
        data-aos="zoom-out"
        data-aos-delay="1200"
      >
        <div class="skill-item learning-highlight">
          <img
            id="learning-icon"
            class="learning-image"
            src="assets/icons/learning.png"
            alt="Icon für kontinuierliches Lernen"
          />
          <span class="learning-text">
            Continually <br />
            learning
          </span>
        </div>
        <img
          id="speech-bubble"
          class="speech-bubble"
          src="assets/bubble.png"
          alt="Sprechblase Lernen"
        />
      </div>
    </section>
    <section class="skills-headline">
      <h2 data-aos="fade" [attr.data-aos-anchor]="'#skills-anchor'">
        {{ "skills.title" | translate }}
      </h2>
      <p class="skills-description" data-aos="fade-left" data-aos-delay="400">
        {{ "skills.experience" | translate }}
      </p>
    </section>
    <section class="skills-contact">
      <h3 data-aos="fade-up" data-aos-delay="400">
        {{ "skills.lookingFor" | translate }}
        <span class="skills-highlight">
          {{ "skills.additionalSkill" | translate }} </span
        >?
      </h3>
      <p class="skills-contact-text" data-aos="fade-up" data-aos-delay="400">
        {{ "skills.contactMessage" | translate }}
      </p>
      <button class="skills-button" data-aos="zoom-in" data-aos-delay="400">
        <a href="#contact">{{ "skills.buttonText" | translate }}</a>
      </button>
    </section>
  </div>
  <div class="skills-divider" data-aos="fade"></div>
</main>
<div class="skills-shadow" data-aos="fade" data-aos-delay="100">
  <img
    src="assets/img/background-objects/31. Green shadow Skills Portfolio.svg"
    alt="Dekorative grüne Schatten-Grafik Skills-Sektion"
  />
</div>