.skills-divider {
  background-color: rgba(151, 71, 255, 1);
  position: absolute;
  width: 62px;
  height: 4px;
  right: 0;
  top: calc(50% - 120px);
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1;
  grid-row: 1 / 3;
  column-gap: 88px;
  row-gap: 24px;
}

.skills-highlight {
  color: rgba(151, 71, 255, 1);
}

.skill-item {
  will-change: transform;
  text-align: center;
  gap: 12px;
  flex-direction: column;
  display: flex;
  width: 75px;
  align-items: center;

  &:hover {
    .skill-image {
      animation: jumpIcon 1s ease-in-out forwards 1 !important;
    }
  }
}

.skill-image {
  aspect-ratio: 1;
  width: 60px;
}

.learning-text {
  color: rgba(151, 71, 255, 1);
}

.learning-image {
  filter: brightness(0) saturate(100%) invert(16%) sepia(91%)
    saturate(7476%) hue-rotate(268deg) brightness(97%) contrast(101%);
}

.learning-highlight:hover {
  .learning-text {
    color: white;
  }

  .learning-image {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
      saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  }

  ~ .speech-bubble {
    opacity: 1;
    transform: translateY(0);
  }
}

.skills-learning-wrapper {
  position: relative;
}

.skills-wrapper {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  display: grid;
  align-items: center;
  position: relative;
  z-index: 10;
  max-width: 1920px;
  max-height: 100%;
  width: 100%;
  gap: 16px;
  padding: 0 68px;
}

.skills-contact {
  text-align: right;
  grid-column: 2;
  grid-row: 2;
}

.skills-button {
  align-self: flex-end;
  margin-top: 24px;
  display: inline-block;
  background-color: rgba(112, 230, 28, 1);
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease !important;

  > a {
    padding: 12px 20px;  
    display: block;
    text-decoration: none;
    color: inherit;      
  }

  &:hover {
    background-color: rgba(151, 71, 255, 1) !important;
    transform: scale(1.05) translateY(2px) !important;
  }
}

main {
  justify-content: center;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}

.speech-bubble {
  transform: translateY(10px);
  opacity: 0;
  z-index: 10;
  transition: opacity 0.3s ease, transform 0.3s ease-in-out;
  position: absolute;
  top: -100%;
  left: -14%;
}

.skills-shadow {
  width: 280px;
  left: 0;
  top: 40%;
  position: absolute;
  display: flex;
  overflow-x: hidden;
  justify-content: flex-end;
  align-items: flex-start;
}

@keyframes jumpIcon {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-16px);
  }
  100% {
    transform: translateY(0);
  }
}