<main class="portfolio-wrapper">
  <div class="portfolio-line" data-aos="fade-left"></div>
  <h2 class="portfolio-heading" data-aos="fade-left">Portfolio</h2>
  <p class="portfolio-subtitle" data-aos="fade" data-aos-delay="250">
    {{ "portfolio.subtitle" | translate }}
  </p>

  <!-- Projekt 1 -->
  <section id="project-0" class="portfolio-item">
    <img
      class="portfolio-image"
      src="assets/img/projects/join.png"
      alt="Desktop Ansicht von Join"
      data-aos="fade-left"
      data-aos-delay="0"
      data-aos-duration="400"
      data-aos-anchor="#project-0"
      data-aos-anchor-offset="600"
    />
    <div
      class="portfolio-content"
      data-aos="fade-right"
      data-aos-delay="0"
      data-aos-duration="400"
      data-aos-anchor="#project-0"
      data-aos-anchor-offset="600"
    >
      <h3 class="portfolio-title">Join</h3>
      <p class="portfolio-skills">JavaScript | CSS3 | HTML5 | Firebase</p>
      <p class="portfolio-description">
        {{ "portfolio.joinDescription" | translate }}
      </p>
      <div class="portfolio-buttons">
        <button class="portfolio-button portfolio-button--live">
          <a href="https://scheker-badjaj.developerakademie.net/JOIN-Project-main/" target="_blank">Live Test</a>
        </button>
        <button class="portfolio-button portfolio-button--github">
          <a href="https://github.com/schebad1/JOIN-Project" target="_blank">Git Hub</a>
        </button>
      </div>
    </div>
  </section>

  <!-- Projekt 2 -->
  <section id="project-1" class="portfolio-item portfolio-item--reversed">
    <img
      class="portfolio-image"
      src="assets/img/projects/sharkie.png"
      alt="Desktop Ansicht von Sharkie"
      data-aos="fade-right"
      data-aos-delay="300"
      data-aos-duration="400"
      data-aos-anchor="#project-1"
      data-aos-anchor-offset="600"
    />
    <div
      class="portfolio-content"
      data-aos="fade-left"
      data-aos-delay="300"
      data-aos-duration="400"
      data-aos-anchor="#project-1"
      data-aos-anchor-offset="600"
    >
      <h3 class="portfolio-title">Sharkie</h3>
      <p class="portfolio-skills">JavaScript | HTML5 | CSS3</p>
      <p class="portfolio-description">
        {{ "portfolio.sharkieDescription" | translate }}
      </p>
      <div class="portfolio-buttons">
        <button class="portfolio-button portfolio-button--live">
          <a href="https://scheker-badjaj.developerakademie.net/Sharkie/" target="_blank">Live Test</a>
        </button>
        <button class="portfolio-button portfolio-button--github">
          <a href="https://github.com/schebad1/sharkie" target="_blank">Git Hub</a>
        </button>
      </div>
    </div>
  </section>

  <!-- Projekt 3 -->
  <section id="project-2" class="portfolio-item">
    <img
      class="portfolio-image"
      src="assets/img/projects/pokedex.png"
      alt="Desktop Ansicht von Pokedex"
      data-aos="fade-left"
      data-aos-delay="600"
      data-aos-duration="400"
      data-aos-anchor="#project-2"
      data-aos-anchor-offset="600"
    />
    <div
      class="portfolio-content"
      data-aos="fade-right"
      data-aos-delay="600"
      data-aos-duration="400"
      data-aos-anchor="#project-2"
      data-aos-anchor-offset="600"
    >
      <h3 class="portfolio-title">Pokedex</h3>
      <p class="portfolio-skills">JavaScript | REST API | HTML5 | CSS3</p>
      <p class="portfolio-description">
        {{ "portfolio.pokedexDescription" | translate }}
      </p>
      <div class="portfolio-buttons">
        <button class="portfolio-button portfolio-button--live">
          <a href="https://scheker-badjaj.developerakademie.net/Pokedex%20Projekt/" target="_blank">Live Test</a>
        </button>
        <button class="portfolio-button portfolio-button--github">
          <a href="https://github.com/schebad1/pokedex" target="_blank">Git Hub</a>
        </button>
      </div>
    </div>
  </section>
</main>
<div class="portfolio-decoration" data-aos="fade" data-aos-delay="100">
  <img
    src="assets/img/background-objects/32 Purple shadow portfolio.svg"
    alt=""
  />
</div>