<div class="hero-section">
  <main id="hero-anchor">
    <section class="hero-image-container" data-aos="fade" data-aos-delay="150">
      <img 
        class="hero-image" 
        src="assets/img/me/sb-hero.webp" 
        alt="Portrait von Scheker Badjaj" 
      />
      <div class="hero-shadows">
        <img
          id="shadow-purple"
          src="assets/img/background-objects/Purple shadow.svg"
          alt="Lila Schattengrafik links"
        />
        <img
          id="shadow-green"
          src="assets/img/background-objects/Green shadow.svg"
          alt="Grüne Schattengrafik rechts"
        />
      </div>
    </section>
    <section class="headline-wrapper" data-aos="fade" data-aos-delay="150">
      <div class="headline-content">
        <span class="vertical-label">I am</span>
        <div class="headline-column">
          <span class="headline-title">Scheker Badjaj</span>
          <span class="headline-highlight">Frontend Developer</span>
        </div>
      </div>
      <button class="cta-button">
        <a href="#contact">{{ 'atf.label' | translate }}</a>
      </button>
    </section>
  </main>
  <aside class="socials-wrapper" id="about-anchor">
    <div 
      class="social-links" 
      data-aos="fade" 
      data-aos-delay="150" 
      [attr.data-aos-anchor]="'#hero-anchor'"
    >
      <div class="divider-line"></div>
      <div class="social-row">
        <a href="https://github.com/schebad1" target="_blank">
          <img 
            class="social-icon" 
            src="assets/icons/git.png" 
            alt="GitHub Profil von Scheker" 
          />
        </a>
        <a href="mailto:badjajscheker@hotmail.com">
          <img 
            class="social-icon" 
            src="assets/icons/Mail.png" 
            alt="E-Mail an Scheker senden" 
          />
        </a>
        <span class="email-address">badjajscheker&#64;hotmail.com</span>
      </div>
      <img 
      class="hero-background" 
      src="assets/img/background-objects/28. Hero Background.png" 
      alt="Hero Hintergrundgrafik" 
    />
    </div>
  </aside>
</div>