.vertical-label {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  letter-spacing: 2px;
}

.social-row {
  gap: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-background {
  margin-top: 146px;
  position: absolute;
  z-index: -10;
}

.hero-image-container {
  width: 50%;
  flex: 1;
  position: relative;
  z-index: -10;

  > .hero-image {
    object-position: 50% 100%;
    height: 100%;
    position: relative;
    z-index: 2;
  }
}

.no-hover-effect {
  transform: scale(1) translateX(0) !important;
}

.headline-highlight {
  color: rgba(151, 71, 255, 1);
}

.headline-content {
  font-size: 50px;
  display: flex;
  align-items: flex-end;
  height: fit-content;
  line-height: 1;

  > .headline-column {
    align-items: stretch;
    flex-direction: column;
    display: flex;
    gap: 5px;
  }
}

main {
  height: 100%;
  justify-content: space-between;
  padding: 0 64px;
  display: flex;
  position: relative;
}

.divider-line {
  border-radius: 0 2px 2px 0;
  flex: 1;
  background-color: rgba(151, 71, 255, 1);
  height: 4px;
}

.hero-section {
  max-height: 100%;
  width: 100%;
  height: calc(100vh - 150px);
}

.headline-title {
  font-weight: bold;
  font-size: 75px;
}

.headline-wrapper {
  justify-content: center;
  z-index: 120;
  display: flex;
  align-items: center;
  gap: 40px;
  flex: 1.5;
  flex-direction: column;

  > .cta-button {
    background-color: rgba(112, 230, 28, 1);
    transition: all 0.3s ease; 

    &:hover {
      transform: scale(1.05) translateY(2px);
      background-color: rgba(151, 71, 255, 1) !important;
    }
  }
}

.hero-shadows {
  height: 100%;
  left: 0;
  padding-top: 88px;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 6%;
  align-items: center;
  display: flex;

  > img {
    height: 100%;
  }

  > #shadow-purple {
    left: 6vw;
    position: relative;
  }

  > #shadow-green {
    right: 6vw;
    position: relative;
  }
}

.social-links {
  display: flex;
  align-items: center;
  bottom: 24px;
  width: 520px;
  position: relative;
  gap: 36px;
}

.socials-wrapper {
  > a:hover {
    transform: scale(1.25) translateX(3px);
  }
}