.text-underline {
  color: rgba(112, 230, 28, 1) !important;
}

.line {
  stroke-linecap: round;
  transition: all 0.125s ease-in-out;
  stroke: white;
  stroke-width: 2;
}

.split-line {
  width: 2px;
  height: 22px;
  background-color: white;
}

header {
  padding: 0 64px;
  height: 135px;
  box-shadow: 0 -4px 12px 12px rgb(20 29 47 / 90%);
  justify-content: center;
  background-color: rgb(20, 29, 47);
  display: flex;
}

.wrapper {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;

  > a {
    cursor: pointer;
  }
}

.lang-switcher {
  margin-bottom: 40px;
  gap: 24px;
  align-items: center;
  font-size: 1.5rem;
  display: flex;

  > button {
    position: relative;
    box-shadow: unset;
  }
}

.row-block {
  align-items: center;
  display: flex;
}

nav {
  font-size: 1.75rem;
  transition: all 0.125s ease-in-out;
  gap: 36px;
  align-items: center;
  flex-direction: row;
  position: relative;
  display: flex;

  > a,
  button {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:active {
      color: rgba(112, 230, 28, 1);
    }

    &::after {
      height: 2px;
      bottom: -4px;
      width: 0%;
      position: absolute;
      content: "";
      left: 0;
    }
  }

  > {
    .row-block {
      gap: 8px;

      button {
        font-size: 1.5rem;
        position: relative;
      }
    }
  }
}

.nav-toggle-icon {
  cursor: pointer;
  width: 40px;
  height: 35px;
  display: none;
}

.nav-toggle-icon.expanded .top {
  transform-origin: 12px 15px;
  transform: rotate(45deg);
}

.nav-toggle-icon.expanded .middle {
  opacity: 0;
}

.nav-toggle-icon.expanded .bottom {
  transform-origin: 13px 15px;
  transform: rotate(-45deg);
}

main {
  width: calc(100vw - 8px + 7px);
  background: rgba(255, 255, 255, 0);
  pointer-events: none;
  position: fixed;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
  top: 0;

  nav {
    max-height: 0;
    flex-direction: column;
    background: rgb(20, 29, 47);
    justify-content: space-between;
    display: flex;
    align-items: center;
    transition: max-height 0.275s ease-in-out;
    pointer-events: all;
    overflow: hidden;
    flex: 1;

    a:first-child {
      margin-top: 20px;
    }
  }
}

.expand-height {
  height: 100%;
}

.expanded {
  overflow: unset;
  max-height: 50svh !important;
}

.lang-switcher button:hover,
.row-block button:hover {
  scale: 1 !important;
}

@keyframes fadeIn {
  0% {
    width: 0;
  }
  50% {
    width: 30%;
  }
  100% {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  nav {
    display: none;
  }

  .nav-toggle-icon {
    display: inline-block;
  }

  header {
    padding: 0 48px;
    height: 80px;
  }
}

@media screen and (max-width: 425px) {
  header {
    padding: 0 16px;
  }
}