<footer class="footer-wrapper">
  <div class="footer-container max-width">
    <div class="footer-column">
      <h1 class="footer-logo">Scheker</h1>
      <a
        class="footer-link"
        [routerLink]="['/legal-notice']"
        routerLinkActive="router-link-active"
      >
        {{ "footer.legalNotice" | translate }}
      </a>
      <a
        class="footer-link"
        [routerLink]="['/imprint']"
        routerLinkActive="router-link-active"
      >
        {{ "footer.imprint" | translate }}
      </a>
    </div>
    <span class="footer-copy">© Scheker Badjaj 2025</span>
    <div class="footer-social">
      <a href="https://github.com/schebad1" target="_blank">
        <img class="footer-icon" src="assets/icons/git.png" alt="GitHub" />
      </a>
      <a href="mailto:badjajscheker@hotmail.com">
        <img class="footer-icon" src="assets/icons/Mail.png" alt="E-Mail" />
      </a>
    </div>
  </div>
</footer>