<main>
    <section>
        <h1>{{ 'legalNotice.title' | translate }}</h1>
        <h2>{{ 'legalNotice.section-1.title' | translate }}</h2>
        <h3>{{ 'legalNotice.section-1.subtitle' | translate }}</h3>
        <p>{{ 'legalNotice.section-1.content' | translate }}</p>
        <h3>{{ 'legalNotice.section-2.title' | translate }}</h3>
        <h4>{{ 'legalNotice.section-2.subtitle' | translate }}</h4>
        <p>{{ 'legalNotice.section-2.content' | translate }}</p>
        <h4>{{ 'legalNotice.section-3.title' | translate }}</h4>
        <p>{{ 'legalNotice.section-3.content-p1' | translate }}</p>
        <p>{{ 'legalNotice.section-3.content-p2' | translate }}</p>
        <h4>{{ 'legalNotice.section-4.title' | translate }}</h4>
        <p>{{ 'legalNotice.section-4.content' | translate }}</p>
        <h4>{{ 'legalNotice.section-5.title' | translate }}</h4>
        <p>{{ 'legalNotice.section-5.content-p1' | translate }}</p>
        <p>{{ 'legalNotice.section-5.content-p2' | translate }}</p>
        <h2>{{ 'legalNotice.section-6.title' | translate }}</h2>
        <p>{{ 'legalNotice.section-6.content' | translate }}</p>
        <h3>All-Inkl</h3>
        <p>{{ 'legalNotice.section-6.content-details.provider' | translate }}<a
                href="https://all-inkl.com/datenschutzinformationen/" target="_blank"
                rel="noopener noreferrer">https://all-inkl.com/datenschutzinformationen/</a>.</p>
        <p>{{ 'legalNotice.section-6.content-details.legal-basis' | translate }}</p>
        <h2>{{ 'legalNotice.section-7.title' | translate }}</h2>
        <h3>{{ 'legalNotice.section-7.subtitle-1' | translate }}</h3>
        <p>{{ 'legalNotice.section-7.content-1' | translate }}</p>
        <p>{{ 'legalNotice.section-7.content-2' | translate }}</p>
        <p>{{ 'legalNotice.section-7.content-3' | translate }}</p>
        <h3>{{ 'legalNotice.section-7.subtitle-2' | translate }}</h3>
        <p>{{ 'legalNotice.section-7.content-4' | translate }}</p>
        <p>Scheker Badjaj<br />
            Karolingerstra&szlig;e 111<br />
            45326 Essen</p>
        <p>Telefon: +49 (0)176-61 93 02 61<br />
            E-Mail: badjajscheker(at)hotmail.com</p>
        <p>{{ 'legalNotice.section-7.content-5' | translate }}</p>
        <h3>{{ 'legalNotice.section-8.title' | translate }}</h3>
        <p>{{ 'legalNotice.section-8.content' | translate }}</p>
        <h3>{{ 'legalNotice.section-9.title' | translate }}</h3>
        <p>{{ 'legalNotice.section-9.content' | translate }}</p>
        <h3>{{ 'legalNotice.section-10.title' | translate }}</h3>
        <p>{{ 'legalNotice.section-10.content' | translate }}</p>
        <h3>{{ 'legalNotice.section-11.title' | translate }}</h3>
        <p>{{ 'legalNotice.section-11.content' | translate }}</p>
        <h3>{{ 'legalNotice.section-12.title' | translate }}</h3>
        <p>{{ 'legalNotice.section-12.content-1' | translate }}</p>
        <p>{{ 'legalNotice.section-12.content-2' | translate }}</p>
        <h3>{{ 'legalNotice.section-13.title' | translate }}</h3>
        <p>{{ 'legalNotice.section-13.content' | translate }}</p>
        <h3>{{ 'legalNotice.section-14.title' | translate }}</h3>
        <p>{{ 'legalNotice.section-14.content' | translate }}</p>
        <h3>{{ 'legalNotice.section-15.title' | translate }}</h3>
        <p>{{ 'legalNotice.section-15.content' | translate }}</p>
        <h3>{{ 'legalNotice.section-16.title' | translate }}</h3>
        <p>{{ 'legalNotice.section-16.content-1' | translate }}</p>
        <ul>
            <li>{{ 'legalNotice.section-16.list-1' | translate }}</li>
            <li>{{ 'legalNotice.section-16.list-2' | translate }}</li>
            <li>{{ 'legalNotice.section-16.list-3' | translate }}</li>
            <li>{{ 'legalNotice.section-16.list-4' | translate }}</li>
        </ul>
        <p>{{ 'legalNotice.section-16.content-2' | translate }}</p>
        <h3>{{ 'legalNotice.section-17.title' | translate }}</h3>
        <p>{{ 'legalNotice.section-17.content-1' | translate }}</p>
        <p>{{ 'legalNotice.section-17.content-2' | translate }}</p>
        <h2>{{ 'legalNotice.section-18.title' | translate }}</h2>
        <h3>{{ 'legalNotice.section-19.title' | translate }}</h3>
        <p>{{ 'legalNotice.section-19.content-1' | translate }}</p>
        <ul>
            <li>{{ 'legalNotice.section-19.list-1' | translate }}</li>
            <li>{{ 'legalNotice.section-19.list-2' | translate }}</li>
            <li>{{ 'legalNotice.section-19.list-3' | translate }}</li>
            <li>{{ 'legalNotice.section-19.list-4' | translate }}</li>
            <li>{{ 'legalNotice.section-19.list-5' | translate }}</li>
            <li>{{ 'legalNotice.section-19.list-6' | translate }}</li>
        </ul>
        <p>{{ 'legalNotice.section-19.content-2' | translate }}</p>
        <p>{{ 'legalNotice.section-19.content-3' | translate }}</p>
        <h3>{{ 'legalNotice.section-20.title' | translate }}</h3>
        <p>{{ 'legalNotice.section-20.content-1' | translate }}</p>
        <p>{{ 'legalNotice.section-20.content-2' | translate }}</p>
        <p>{{ 'legalNotice.section-20.content-3' | translate }}</p>
        <h3>{{ 'legalNotice.section-21.title' | translate }}</h3>
        <p>{{ 'legalNotice.section-21.content-1' | translate }}</p>
        <p>{{ 'legalNotice.section-21.content-2' | translate }}</p>
        <p>{{ 'legalNotice.section-21.content-3' | translate }}
            <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
        </p>
    </section>
</main>