<main>
    <section>
        <h1>{{ 'imprint.title' | translate }}</h1>
        <p>{{ 'imprint.dgb_title' | translate }}</p>
        <p>Scheker Badjaj<br>
            Karolingerstraße 111<br>
            45326 Essen<br>
        </p>
        <h2> {{ 'imprint.represent_title' | translate }}</h2>
        <p>Scheker Badjaj</p>
        <h2>{{ 'imprint.contact_title' | translate }}</h2>
        <p><b>Telefon: </b> <a href='tel:+4917661930261'>+49 (0)176-61 93 02 61</a></p>
        <p><b>E-Mail: </b> <a href='mailto:badjajscheker@hotmail.com'> badjajscheker(at)hotmail.com</a></p>
        <h2>{{ 'imprint.privacy_title' | translate }}</h2>
        <p>{{ 'imprint.details1' | translate }}</p>
        <p>{{ 'imprint.details2' | translate }}</p>
        <p>{{ 'imprint.details3' | translate }}</p>
    </section>
</main>