main {
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 385px);
  padding: 12px 64px 64px 64px;
}

section {
  max-width: 1920px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
  margin-top: 24px;
}

p {
  text-align: justify;
  font-size: 0.875rem;
}

@media screen and (max-width: 1000px) {
  main {
    padding: 12px 48px 64px 48px;
  }
}

@media screen and (max-width: 425px) {
  main {
    padding: 12px 16px 64px 16px;
  }

  h1,
  h2,
  h3,
  h4 {
    font-size: initial;
  }
}