* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Poppins, sans-serif;
  color: white;
  font-size: 16px;
  background-color: rgb(20, 29, 47);
  width: calc(100vw - 8px - 2px);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  pointer-events: none;
  user-select: none;
}

button {
  cursor: pointer;
  font-size: 24px;
  border-radius: 8px;
  background: none;
  outline: none;
  border: none;
  display: inline-block;
  white-space: nowrap;
  color: white;
  box-shadow: 0 0 10px 2px rgba(20, 29, 47, 0.5);
  transition: all 0.125s ease-in-out;

  > a {
    padding: 16px 30px;
    display: block;
  }

  &:hover {
    scale: 1.15;
  }

  &:disabled {
    background-color: rgba(211, 211, 211, 0.373) !important;
    border: none !important;
    cursor: default;
    scale: 1;

    > a {
      cursor: default;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(151, 71, 255, 1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(75, 71, 255);
}

app-header {
  top: 0;
  position: sticky;
  z-index: 200;
}

main {
  display: flex;
}

h2 {
  font-size: 90px;
  z-index: 2;
}

h3 {
  font-size: 32px;
}

.column {
  flex-direction: column;
  display: flex;
}

.row {
  flex-direction: row;
  align-items: center;
  display: flex;
}

.max-width {
  width: 100%;
  max-width: 1920px;
}

.social-links-container {
  gap: 36px;
  bottom: 24px;
  display: flex;
  position: relative;
  align-items: center;
}

.social-links-container > a:hover {
  transform: scale(1.25) translateX(4px) translateY(4px);
  transition: all 0.125s ease-in-out;
}

.icon {
  height: 28px;
}

.custom-highlight {
  color: rgba(151, 71, 255, 1);
}

.scroll-animation {
  transition: transform 1s ease-in-out;
  transform: translateX(99%);
}

.scroll-animation.visible {
  transform: translateX(0);
}

@media screen and (max-width: 1280px) {
  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 22px;
  }

  button {
    font-size: 16px;
  }
}
